<div>
	<p><h2 align="center">Instead of all the usual sitemap, information about the pages that we have will be temporarily displayed here until I do everything in its normal form.</h2></p>
</div>

<div>
	<p><%= link_to "Main page", home_path %></p> 	
	<p><%= link_to "Add articles", new_post_path %></p>
	<p><%= link_to "About us", about_path %></p>
	<p><%= link_to "CV", cv_path %></p>
	<p><%= link_to "sitemap", sitemap_path %></p>
	<p><%= link_to "authors", authors_path %></p>
	<p><%= link_to "users", users_path %></p>
	<p><%= link_to "posts", posts_path %></p>
</div>